@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');

:root {
    --red: #E1332D;
    --white: #fff;
    --background-color: #0f1923;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
	/* background-image: url(img/bg.png); */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,0,229,1) 0%, rgba(0,176,255,1) 100%);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 2;
    pointer-events: none;
  }

.con-video {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    

    & h2 {
        color: white;
        letter-spacing: 2px;
        text-align: center;
    }

    & video {
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}


  .btn-con{
    border: none;
    color: #000;
    width: 230px;
    height: 55px;
    padding: 0;
    margin: 10px 10px 0 0;
    overflow: hidden;
    cursor: pointer;
    font-size: 1.2em; /* updates size, just felt like */
    border-radius: 5px;
  }
  .btn-con .btnLable{
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #ECE8E1; /*button initial background color*/
  }
  .btn-con .btnLable span{
    height:100%;
    width: 100%;
    display: block;
    position: relative;
  }
  .btn-con .btnLable .btnText{
    font-weight: bold;
    z-index:1;
    line-height: 60px;
    position: relative;
    top: -105%;
    transition: all 0.3s ease-out;
  }
  .btn-con .btnLable .btnHoverMask{
    background-color: #000000;
    width:0%;
    transform: skew(-15deg);
    z-index:0;
    margin-left: -10%;
    transition: all 0.3s ease-out;
  }
  
  .btn-con .btnLable .btnHoverMaskSVC {
    background-color: #8a0000;
    width:0%;
    transform: skew(-15deg);
    z-index:0;
    margin-left: -10%;
    transition: all 0.3s ease-out;
  }
  
  .btn-con:hover .btnHoverMask{
    width: 120%;
  }

  .btn-con:hover .btnHoverMaskSVC {
    width: 120%;
  }

  .btn-con:hover .btnText{
    color: #ECE8E1;
  }

  #myBtn {
    border-radius: 80px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #00cc7e; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    transition: all 0.3s ease-out;
  }

/* #test {
    background: url(mountain.jpg);
    background-repeat: no-repeat;
    background-size: auto;
} */

.Logo {
    border-radius: 100%;
}

.person-logo {
    font-size: 70px;
}

.card-bg {
    cursor: pointer;
}

.img-slide {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    backdrop-filter: blur(10px);
    border-radius: 10px; 
}
.slide-svc {
    border-radius: 10px;
    color: white;
    text-align: center;

    & h2 {
        font-size: 20pt;
        font-weight: 600;
        letter-spacing: 3px;
    }
}

.img-slide img {
    height: 100%;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.con-00 {
    padding-top: 50px;
}

.slide-svc img {
    margin: 0 auto;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: cover;
}

.text-svc {
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

้.h-1 {
    color: white;
}

.con-01 {
    font-size: 14pt;
    color: white;
    padding: 20px;
    width: auto;
    height: auto;
    border-radius: 30px;
    background-color: rgb(255 255 255 / 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head-main {
    position: fixed;
    border-radius: 0 0 20px 20px;
    height: 60px;
    width: 90%;
    background-color: rgb(255 255 255 / 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    display: flex;
    justify-content: center;
    left: 270px;
}

.head-main  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 5px;
}

.head-main  a:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-main {
    background-color: rgb(255 255 255 / 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.arrow-right {
    margin-right: 5px;
}

.sec-contact {
    background-color: #000a94;
    width: 100%;
    height: 100%;
}

.info-pic-bot {
    text-align: center;
    padding-bottom: 10px;
}

.info-pic-bot h2 {
    color: white;
    font-size: 20pt;
}

/* Button Hover */

/* Button Hover */


@media only screen and (max-width: 1900px) {
    .head-main {
        left: 75px;
    }
}

@media only screen and (max-width: 1410px) {
    .head-main {
        left: 40px;
    }
}

@media only screen and (max-width: 1450px) {
    .head-main {
        left: 60px;
    }
}

@media only screen and (max-width: 1370px) {
    .head-main {
        left: 110px;
    }
}

@media only screen and (max-width: 1320px) {
    .head-main {
        left: 80px;
    }
}


@media only screen and (max-width: 1300px) {
    .head-main {
        left: 70px;
    }
}

@media only screen and (max-width: 1160px) {
    .head-main {
        left: 95px;
    }
}

@media only screen and (max-width: 1000px) {
    .head-main {
        left: 18px;
    }
}

@media only screen and (max-width: 885px) {
    .head-main {
        left: 81px;
    }
}

@media only screen and (max-width: 800px) {
    .con-video video {
        display: none;
    }
    .head-main{
        left: 70px;
    }
}

@media only screen and (max-width: 575px) {
    .con-video video {
        display: none;
    }
    #carouselExampleInterval {
        width: 500px;
        left: 20px;
    }
    .info-svc {
        margin-right: 300px;
    }
}

@media only screen and (max-width: 545px) {
    .con-video video {
        display: none;
    }
    #carouselExampleInterval {
        width: 400px;
        left: 20px;
    }

    #carouselExampleInterval .carousel-inner .carousel-item img {
        padding: -100px;
    }
    .info-svc {
        margin-right: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .head-main {
        left: 20px;
    }
    .slide-svc {
        width: 100px;
        padding-right: 230px;
    }
    .img-acc {
        width: 100px;
    }
}

@media only screen and (max-width: 549px) {
    .head-main {
        left: -1px;
    }
    .head-main {
        padding-bottom: 100px;
    }
    .head-top {
        margin-top: 100px;
    }
    .con-01 p {
        font-size: 12pt;
    }
    .slide-svc {
        width: 20px;

        & .info-svc {
            margin-right: 250px;

        & .img-01 {
            width: 50px;

            & .carousel-item {
                width: 100px;
                height: 300px;
            }
   
                    & img {
                        width: 100px;
                        justify-content: center;
                        margin: 0 auto;
                    }
            }
        }

    }
}

@media only screen and (max-width: 500px) {
    .head-main {
        left: 0px;
    }
    .slide-svc .img-acc {
        width: 10px;
    }
    .slide-svc .img-acc .carousel-item {
        width: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .head-main {
        width: 400px;
    }
}